* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#2615155b;
    color:#858f9e;
    line-height: 1.6;
    
}
.foto{
    width: 50px;
    height: 50px;
    border-radius: 30%;
  
}

nav{ display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#03080f;
   width: 100%;
   height: 60px;
border-bottom: 4px solid #c5aeae;
}
nav a {text-decoration:none;
    color: #d0d7d3;
}
nav a:hover {color: rgb(161, 134, 80);}


.card-intro {display: flex;
    justify-content: center;
    color:#C9A24D;
    background-color:#0A1A2F;
    height: 40vh;
}
  


    


