


 
    

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');


.


.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Playfair Display', serif;
    background-color:#0f1115;
    color:#858f9e;
    line-height: 1.6;
    font-size: 16px;
    
}



nav{ display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#03080f;
   width: 100%;
   height: 60px;
border-bottom: 1px solid #c5c2c2;
}
    
  nav { z-index: 99;
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  }
nav a {text-decoration:none;
    color: #d0d7d3;
  font-family: 'Playfair Display', serif;
    font-size: 16px;
}

nav p{ color: #C9A24D;}
nav p:hover {color: rgb(233, 209, 160);}
nav a:hover {color: rgb(161, 134, 80);}


.card-intro {
   
    color:#C9A24D;
    background-color:#1f2229;
    min-height: 50vh;
  padding: 1rem;
  

}

.card-start {display: grid;
    justify-items: center;
    justify-content: center;
    background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
     border:1px solid rgba(255,255,255,.06);
     border-radius:16px;
     box-shadow:0 10px 30px rgba(0,0,0,.35);
      gap:0.5rem;
      width:100%;
 max-width:900px;
  min-height: 30vh;
 height:auto;
 padding:1rem;}
    
   
    
.foto {
   gap:1rem;
    border-radius:50%;
    width: 100px;
    height: 100px;
    max-width: 80%;
  aspect-ratio: 1/1;
    object-fit: cover;}
    
    h3{  
      gap:1rem;
        color: #c8cee0; 
      }
      .card-intro p{opacity: 0.9;
        color:rgb(218, 136, 20);

      }

.card-servicos{display: grid;
  justify-items: center;
  align-items: center;
    text-align: center; 
  gap: 1rem;
padding: 1rem;}

.card-servicos p { color: rgb(218, 136, 20);


}

    .card-social { 
      font-size: 16px;
      background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
       border:1px solid rgba(255,255,255,.06);
       border-radius:16px;
       box-shadow:0 10px 30px rgba(0,0,0,.35);
        gap:2rem;
        width:90%; 
      min-height: 40%;
    padding: 1rem;}
   

    .card-degrade
    {
      font-size: 16px;
      background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
       border:1px solid rgba(255,255,255,.06);
       border-radius:16px;
       box-shadow:0 10px 30px rgba(0,0,0,.35);
        gap:2rem;
        width:90%; 
      min-height: 40%;
    padding: 1rem;
    
}


  .card-kids{font-size: 16px;
      background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
       border:1px solid rgba(255,255,255,.06);
       border-radius:16px;
       box-shadow:0 10px 30px rgba(0,0,0,.35);
        gap:2rem;
        width:90%; 
      min-height: 40%;
    padding: 1rem;}
        
    .card-barba {font-size: 16px;
      background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
       border:1px solid rgba(255,255,255,.06);
       border-radius:16px;
       box-shadow:0 10px 30px rgba(0,0,0,.35);
        gap:2rem;
        width:90%; 
      min-height: 40%;
    padding: 1rem;}

    .card-sobrancelha{font-size: 16px;
      background:linear-gradient(180deg, rgba(21,25,34,.9), rgba(21,25,34,.7));
       border:1px solid rgba(255,255,255,.06);
       border-radius:16px;
       box-shadow:0 10px 30px rgba(0,0,0,.35);
        gap:2rem;
        width:90%; 
      min-height: 40%;
    padding: 1rem;}

    button {
      text-transform: uppercase;
      font-family: 'Playfair Display', serif;
      background-color:#414550;
      margin-top: 10px;
      color: #c0bcb2;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      font-weight:lighter;
    }
    footer{display: flex;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      gap: 2rem;
      background-color: #1f2229;
      color: #c5c2c2;
      font-size: 14px;
     font-weight: 200;
     
    }
      
    footer p {margin-top: 5px;
      font-size: 16px;


    }
      
      
      
     



      
      
    

    

  


    


